In [1]:
fruits = ['apple', 'mango', 'orange', 'grapes']
fruits.insert(1, 'papaya')
fruits

['apple', 'papaya', 'mango', 'orange', 'grapes']

# append in list(insert word in last number)

In [4]:
number = [1,2,3,4,5,6,7,8,9]
number.append('ten')
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten']

# Next

In [12]:
numbers = [1,2,3,4,5,6]
squares = []

for items in numbers:
    num_sq = items**2
    squares.append(num_sq)
    print(squares)
    squares.append(num_sq)

[1]
[1, 1, 4]
[1, 1, 4, 4, 9]
[1, 1, 4, 4, 9, 9, 16]
[1, 1, 4, 4, 9, 9, 16, 16, 25]
[1, 1, 4, 4, 9, 9, 16, 16, 25, 25, 36]

# Extend (Add value in last)

In [21]:
list1 = [1,2,3,4,5]
list2 = [11,22,33,44,55,66,77]
list1.extend(list2)
list1

list3 = list1+list2
list3

[1, 2, 3, 4, 5, 11, 22, 33, 44, 55, 66, 77, 11, 22, 33, 44, 55, 66, 77]

# remove srting values

In [43]:
fruits = ['apple', 'mangos', 'banana', 'orange']
fruits.remove('apple')
fruits

['mangos', 'banana', 'orange']

# how to use pop (remove last data from list)

In [37]:
fruit = ['apple', 'mangos', 'banana', 'orange']
fruit.pop()

'orange'

# sort function

In [47]:
nums =[6,5,8,4,3]
nums.sort(reverse=False)
nums

[3, 4, 5, 6, 8]

# next

In [59]:
numbers = [1,2,3,4,5,6]
squares =list()

for items in numbers:
    sq= items**2
    squares.append(sq)
squares

[1, 4, 9, 16, 25, 36]

# lovercase

In [67]:
fruits = ['apple', 'mangos', 'banana', 'orange']
s_fruits=[items.lower() for items in fruits]
s_fruits

['apple', 'mangos', 'banana', 'orange']

# loop in single line

In [68]:
[index for index in range(-5,10,1) if index <=5]

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

# cw remove items in list using for loop

In [77]:
fruits = ['apple', 'mangos','apple', 'banana', 'orange']
s_fruits=[items for items in fruits if items != 'apple']
s_fruits

['mangos', 'banana', 'orange']