# structure query language

In [2]:
import sqlite3

In [5]:
con = sqlite3.connect('broadwayclass.bd')

In [9]:
cur = con.cursor()

# create statement in SQL

C : Create
R : Read
U : Update
I : Insert
D : Delete

create table table_name(colum_name)

In [32]:
create_tab_query = """
create table studentt(roll_no not null, name)"""

In [33]:
cur.execute(create_tab_query)

# insert statement

In [47]:
ins_query = """
insert into studentt(roll_no, name)
values
(1, 'Anish'),
(2, 'Rojina'),
(3, 'shyam')
"""

In [48]:
cur.execute(ins_query)

# select statement in SQL/Read

In [55]:
cur.execute("select * from studentt").fetchall()

[(1, 'Anish'), (2, 'Rojina'), (3, 'shyam')]

In [56]:
cur.execute("select roll_no from studentt").fetchall()

[(1,), (2,), (3,)]

In [57]:
cur.execute("select * from studentt where roll_no ==1").fetchall()

[(1, 'Anish')]

# Update statement in SQL

In [102]:
update_query = """"
Update into studentt
set name = 'shyam sharma'
where
roll_no = 3
"""

In [101]:
cur.execute("select * from studentt").fetchall()

[(1, 'Anish'),
 (2, 'Rojina'),
 (3, 'shyam'),
 (1, 'Anish'),
 (2, 'Rojina'),
 (3, 'shyam')]